<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Личный кабинет</title>
  <link href="main.css" rel="stylesheet" type="text/css">
</head>
<header>
  <nav class="three">
    <ul class="topmenu">
      <li><a href="info_project.html">О проекте</a></li>
      <li><a href="data.html">Данные<i class="fa fa-angle-down"></i></a>
        <ul class="submenu">
          <li><a href="data_base.html">База данных</a></li>
        </ul>
      </li>
      <li><a href="service.html">Сервисы<i class="fa fa-angle-down"></i></a>
        <ul class="submenu">
          <li><a href="calculator.html">Калькулятор</a></li>
        </ul>
      </li>
      <li><a href="researches.html">Исследования</a></li>
      <li><a href="analytics.html">Аналитика</a></li>
      <li><a href="news.html">Новости</a></li>
      <li><a href="events.html">Мероприятия</a></li>
      <li><a href="account.html">Личный кабинет</a></li>
    </ul>
  </nav>
</header>
<body>

</body>
</html>

