<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add CSS and JS to Thymeleaf</title>
    <link href="/base_footer_layout.css" rel="stylesheet" type="text/css"/>
</head>
<div class="base-footer">

    <div class="content-footer">
        <div>
            <h3>Что-то тут</h3>
        </div>

        <div>
            <h3>Здесь тоже</h3>
        </div>

        <div>
            <h3>лалалалалла</h3>
        </div>

        <div>
            <h3>kzkzkzkzk</h3>
        </div>
    </div>

    <div class="info-footer">

    </div>

</div>
</html>