<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>О проекте</title>
  <link href="/info_project.css" rel="stylesheet" type="text/css">
</head>
<header>
    <nav class="three">
        <ul class="topmenu">
            <li><a href="info_project.html">О проекте</a></li>
            <li><a href="data.html">Данные<i class="fa fa-angle-down"></i></a>
                <ul class="submenu">
                    <li><a href="data_base.html">База данных</a></li>
                </ul>
            </li>
            <li><a href="service.html">Сервисы<i class="fa fa-angle-down"></i></a>
                <ul class="submenu">
                    <li><a href="calculator.html">Калькулятор</a></li>
                </ul>
            </li>
            <li><a href="researches.html">Исследования</a></li>
            <li><a href="analytics.html">Аналитика</a></li>
            <li><a href="news.html">Новости</a></li>
            <li><a href="events.html">Мероприятия</a></li>
            <li><a href="account.html">Личный кабинет</a></li>
        </ul>
    </nav>
</header>
<body>
  <div class="text-page-wrapper">
		<div class="text-page-content">
			<h1>О портале</h1>

      <p>Геопортал "Благополучие человека" разработан в рамках проекта Уральского федерального университета и направлен на поддержку реализации ключевых инициатив исследователей, бизнеса, органов власти в части мониторинга и анализа индикаторов, определяющих качество жизни в различных районах города. Портал наполняется датасетами с геопривязанными данными по разным категориям благополучия. В тестовой версии на основе собранных данных представлен функционал для микрорайона Уралмаш в Екатеринбурге.</p>
      <p>В основе портала – единая база данных, которая позволит получать оперативную информацию по различным сферам жизни в городе. На портале для скачивания доступны датасеты с агрегированными показателями по домам, квартирам, инфраструктуре Уралмаша, муниципальные данные по Екатеринбургу. Данные по жителям предоставляются через форму заказа. По мере проведения исследований научными группами университета формируются новые датасеты с показателями, отражающими качество жизни: рынок труда, образование, медицина, эмоциональное состояние и др.</p>
      <p><img alt="" src="" style="width: 1009px; height: 272px;"></p>
      <p>В перспективе исследователи и разработчики, используя формируемые наборы данных, могут проводить сравнительные исследования и создавать технологические продукты, разрабатывать сервисы и модели, полезные для жителей, бизнеса и органов власти. &nbsp;Например, застройщики могут использовать данные, дашборды и карты для проведения предпроектного анализа территории, органы власти – для мониторинга и оперативного решения городских задач, а крупный и малый бизнес для разработки рекламных кампаний, маркетинговых и коммуникационных стратегий.</p>
							
      <p><a href="#" @click.prevent="" class="call-us-btn">Написать нам</a></p>
		</div>
	</div>
</body>
</html>

